Source: com.github.artemanufrij.webpin
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 9),
               libgranite-dev,
               libwebkit2gtk-4.0,
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: com.github.artemanufrij.webpin
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple webpin app
 A simple app to pin websites on the desktop, written especially for elementary OS
