[Desktop Entry]
Name=Webpin
GenericName=Webpin
Comment=Pin your websites on your desktop
Comment[lt]=Prisegti interneto svetaines savo darbalaukyje
Keywords=internet;webapp;
Exec=com.github.artemanufrij.webpin %u
Icon=artemanufrij.webpin
Terminal=false
Type=Application
Categories=Network;GNOME;GTK;
X-GNOME-Gettext-Domain=webpin
