[Desktop Entry]
Version=1.0
Name=Webby
GenericName=Webby
Comment=Create your apps
Keywords=internet;webapp;
Exec=webby %u
Icon=webby
Terminal=false
Type=Application
Categories=Network;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=webby
X-GNOME-FullName=Webby
StartupWMClass=Webby
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=webby --about
Name=About Webby
